* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("bg-site.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lista__buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.lista__buttons > a > button {
    color: #ffffff;
    background-color: #B0B3D6;
    border: none;
    border-radius: 20px;
    width: 10rem;
    height: 2.5rem;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.lista__buttons > button {
    color: #ffffff;    
    background-color: #B0B3D6;
    border: none;
    border-radius: 20px;
    width: 10rem;
    height: 2.5rem;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.lista__list {
    margin-top: 15px;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 20rem;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}


button:hover {
    transform: translate(0,-5px);
    opacity: 50%;
    cursor: pointer;
}